/* App.css */
@import "@lib.css";
@import "@elements.css";
@import "./components/header.css";
@import "./components/colors.css";
@import "./components/hints.css";

.root,
.react-wrapper {
  height: 100%;
}

body {
  background-color: White;
  margin: 0;
  @mixin responsive-font-size .8rem, 2;
  color: $body-color;
}

main {
    margin-top: calc($header-height + $section-header-height);
    padding: 0 $page-margin $page-margin;
}
