/* App.css */
@import "@lib.css";
@import "@elements.css";
@import "./components/header.css";
@import "./components/colors.css";
@import "./components/schemer.css";
@import "./components/hints.css";

html {
  font-size: 62.5%;
}

.root,
.react-wrapper {
  height: 100%;
}

body {
  background-color: Snow;
  margin: 0;
  color: $body-color;
}

main {
    padding: 0 $page-margin $page-margin;
}

.hidden {
	display: none;
}