$border: 1px;
$icon-color: gainsboro;
$icon-size: 2rem;

.display-options {
  @mixin margin;
  align-items: center;
  background-color: white;
  box-shadow: 0  1px 0 0 rgba(0, 0, 0, .125);
  display: flex;
  flex-direction: row;
  height: $subheader-height;
  justify-content: space-between;
  opacity: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  transition: transform $duration,
    opacity $duration;
  transform: translateY(-$header-height);

  &.showing {
    transform: translateY($header-height);
    height: $subheader-height;
    opacity: .8;
    z-index: 10;
  }

  &:hover {
    opacity: 1;
  }

  @media (--fablet) {
    justify-content: flex-end;
  }
}

.content {
  position: relative;
  top: calc($header-height + $subheader-height);
}

.groups-wrap {
  margin-top: 2rem;
}

.color-category {
  margin: 3rem 0 1rem;

  &:first-child {
    margin-top: 1rem;
  }
}

.color-category-name {
  @mixin margin;
  font-range: 320px 1440px;
  font-size: responsive 14px 16px;
  font-weight: 400;
  letter-spacing: .1rem;
  margin-right: .5rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
}

/* Colors  list*/
.colors {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-left: $border;
  padding-bottom: $border;
}

/* Color Swatch */
.color-swatch {
  backface-visibility: hidden;
  flex: 1 0 320px;
  line-height: 0;
  list-style-type: none;
  margin-right: $border;
  margin-top: $border;
  padding: 3rem 5rem 2.5rem;
  position: relative;
  text-rendering: GeometricPrecision;
  transform-origin: 50% 0%;
  transition: color $duration;

/* Square Swatches */
/*
  &:before {
    content: '';
    float: left;
    padding-top: 100%;
  }
*/

  &:hover {
    .swatch-text {
      opacity: 1;
    }
  }

  @media screen and (min-width: 960px) {
    flex: 1 0 300px;
  }

  @media screen and (min-width: 1280px) {
    flex: 1 0 256px;
  }
}

/* Color Swatch Link Title */
.color-swatch-link-title {
  display: flex;
  align-items: center;
  opacity: 0;
  margin: 0;
  text-align: left;
  transition: opacity $duration,
    height $duration $bounce-in;
  width: 100%;
  height: 0;
  pointer-events: none;
}

.swatch-link {
  align-items: center;
  color: white;
  display: inline-block;
  letter-spacing: .1rem;
  line-height: 1.7;
  margin: 0;
  padding: 0;
  position: relative;
  transition: background-color $duration;
  width: 100%;
  z-index: 1;

  &:hover {
    color: white;
    cursor: pointer;

    .swatch-content-wrap {
      background-color: rgba(black, .3);
    }

    .copy-icon {
      opacity: 1;
    }
  }
}

.swatch-text {
  font-size: responsive 12px 14px;
  font-range: 320px 768px;
  font-weight: normal;
  text-shadow: $default-text-shadow;
  white-space: nowrap;
  opacity: .9;
  transition: opacity $duration;
}

.show-names .color-name,
.show-hex .hex-code,
.show-hsl .hsl-code,
.show-hsv .hsv-code {
  opacity: 1;

  &.color-swatch-link-title {
    height: 3rem;
    pointer-events: auto;
  }
}

/* Icons */
.copy-icon {
  display: inline-block;
  height: $icon-size;
  width: $icon-size;
  opacity: 0;
  padding: 0 .5rem 1.55rem 0 ;
  position: absolute;
  top: 3px;
  left: -calc($icon-size + .5);
  transition:
    opacity $duration,
    background-color $duration;

  .svg {
    width: 18px;
    z-index: 5;

    .path {
      fill: white;
    }
  }

  &.copied {
    width: 19px;
  }

  &.copied.light,
  &.light {
    svg .path {
      fill: DarkSlateGray;
      stroke: DarkSlateGray;
    }
    svg .st0 {
      fill: none;
    }
  }
}

/* Hide the select areas needed for copy */
.js-copytextarea {
  font-size: 1px;
  opacity: 0;
}
