$border: 1px;
$icon-color: gainsboro;
$icon-size: 2rem;

.display-options {
  border-bottom: $default-border;
  position: fixed;
  top: $header-height;
  z-index: 1;
  background: white;
  width: 100%;
  height: $subheader-height;
  display: flex;
  padding-left: $page-margin;
  padding-right: $page-margin;  
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}

.content {
  position: relative;
  top: calc($header-height + $subheader-height);
}

.groups-wrap {
  /*margin-top: 15vh;  */
}

.color-category {
  margin: 3rem 0 1rem;

  &:first-child {
    margin-top: 1rem;
  }
}

.color-category-name {
  font-weight: 700;
  padding-left: $page-margin;
}

/* Colors  list*/
.colors {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-left: $border;
  padding-bottom: $border;
}

/* Color list item*/
.color-swatch {
  backface-visibility: hidden;
  flex: 1 0 320px;
  list-style-type: none;
  margin-right: $border;
  margin-top: $border;
  /* mix-blend-mode: multiply; // causes mad flicker in chrome*/
  padding: 3rem 5rem 4rem;
  position: relative;
  transform-origin: 50% 0%;
  height: auto;
  line-height: 0;
  text-rendering: GeometricPrecision;
  transition:
    color $duration,
    height $duration $bounce-in;

  @media screen and (min-width: 960px) {
    flex: 1 0 300px;
  }

  @media screen and (min-width: 1280px) {
    flex: 1 0 256px;
  }
}

/* Color swatch links */
.color-swatch-link-title {
  opacity: 0;
  display: none;
  margin: 0;
  text-align: left;
  transition: opacity $duration;
  width: 100%;
}

.swatch-link {
  color: white;
  line-height: 2;
  letter-spacing: .1rem;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  top: 4px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, .3);
  transition: background-color $duration;
  width: 100%;

  &:hover{
    color: white;
    cursor: pointer;

    .swatch-content-wrap {
      background-color: rgba(black, .3);
    }

    .copy-icon {
      opacity: 1;
    }
  }
}

.show-names .color-name,
.show-hex .hex-code,
.show-hsl .hsl-code,
.show-hsv .hsv-code {
  opacity: 1;
  display: inline-block;
}

/* Icons */
.copy-icon {
  display: inline-block;
  height: $icon-size;
  width: $icon-size;
  opacity: 0;
  padding: 0 .5rem 1.55rem 0 ;
  position: absolute;
  top: 3px;
  left: -calc($icon-size + .5);
  transition:
    opacity $duration,
    background-color $duration;

  .svg {
    width: 18px;
    z-index: 5;

    .path {
      fill: white;
    }
  }

  &.copied {
    width: 19px;
  }

  &.copied.light,
  &.light {
    svg .path {
      fill: DarkSlateGray;
      stroke: DarkSlateGray;
    }
    svg .st0 {
      fill: none;
    }
  }
}

/* Hide the select areas needed for copy */
.js-copytextarea {
  font-size: 1px;
  opacity: 0;
}

