.schemer {
	display: flex;
	padding-top: 2rem;
	padding-bottom: 2rem;
  position: relative;
  flex-direction: column;

	.color-swatch {
  	width: 100px;
  	border: 1px solid white;
  	margin-right: -1px;
  }
}

.schemer_wrap {
	display: flex;
	flex-direction: row;
	@mixin margin;
}

.schemes > div:not(:first-of-type) {
	margin-top: 2rem;
}

.schemer-title {
	display: none;
}

.schemer-swatches {
	display: flex;
  flex-direction: row;
}

.initial-color {
	/* @mixin margin; */
	width: 50%;
}

.complement {
	margin-top: 2rem;
}

/* React-color */
.chrome-picker {
	box-shadow: none !important;
	margin-top: 2rem;
	margin-right: 2rem;
	border: 1px solid #e7e7e7;
}

.random-scheme-generator {
	padding: 1rem;
	margin-top: 2rem;
}