.schemer {
	display: flex;
	padding-top: 2rem;
	padding-bottom: 2rem;
  position: relative;
  flex-direction: column;
}

.schemer_wrap {
	display: flex;
	flex-direction: row;
	@mixin margin;
}

.schemes > div:not(:first-of-type) {
	margin-top: 2rem;
}

.schemer-title {
	display: none;
}

.schemer-swatches {
	display: flex;
  flex-direction: row;
  flex-wrap: wrap;

	.color-swatch {
  	min-width: 150px;
  	border: 1px solid white;
  	margin-right: -1px;
  	flex: 1;
  }
}

.initial-color {
	/* @mixin margin; */
	width: 50%;
	margin-right: 2rem;
}

.complement {
	margin-top: 2rem;
}

/* React-color */
.chrome-picker {
	box-shadow: none !important;
	margin-top: 2rem;
	margin-right: 2rem;
	border: 1px solid #e7e7e7;
}

/* random button */
.random-scheme-generator {
	padding: 1rem;
	margin-top: 2rem;
}

/* Set current button */
.set-current-color {
	background: transparent;
	padding: 1rem;
	border: 1px solid;
	border-radius: .3rem;
}