/*! Typography ---------------------------------------------------------------*/

body {
	@mixin default-font;
	font-weight: normal;
	text-rendering: geometricPrecision;
}

/* Etc */
hr {
	background-color: $light-gray;
	height: 1px;
	margin: 0 0 1rem 0;
	width: 100%;
}


